[submodule "sharelist"]
	path = sharelist
	url = ssh://git@github.com/antipro/sharelist.git
[submodule "sharelist-client"]
	path = sharelist-client
	url = ssh://git@github.com/antipro/sharelist-client.git
[submodule "sharelist-cordova"]
	path = sharelist-cordova
	url = ssh://git@github.com/antipro/sharelist-cordova.git
[submodule "sharelist-electron"]
	path = sharelist-electron
	url = ssh://git@github.com/antipro/sharelist-electron.git
[submodule "sharelist-server"]
	path = sharelist-server
	url = ssh://git@github.com/antipro/sharelist-server.git
